/*
    Name: Megan Brennan
    Created: August 22, 2020
    Last updated:
*/

body {
    background-color: #f4edea;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #12263a;
    max-width: 900px;
    margin: 0 auto;
}

header, footer {
    background-color: #06bcc1;
    height: 125px;
    padding: 20px 10px 40px 10px;
}

footer {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}

nav {
    border-top: 3px solid #12263a;
    border-bottom: 3px solid #12263a;
    margin-top: 6px;
    margin-bottom: 6px;
}

nav .btn {
    background-color: #06bcc1;
    color: #12263a;
    border: thin solid #12263a;
    text-decoration: underline;
    margin: 6px;
}

nav .btn:visited {
    color: #f4d1ae;
}

nav .btn:hover {
    font-weight: bold;
}

nav .btn:active {
    text-decoration: none;
}