/*
    Name: Megan Brennan
    Created: August 22, 2020
    Last updated: August 25, 2020
*/

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #12263a;
    max-width: 900px;
    margin: 0 auto;
}

section {
    background-color: #f4edea;
    padding-top: 20px;
    padding-bottom: 20px;
}

.jumbotron {
    background-color: #06bcc1;
    padding: 20px 10px 40px 20px;
    margin-bottom: 0;
}

footer {
    text-align: center;
    background-color: #06bcc1;
    padding-top: 20px;
    padding-bottom: 30px;
}

h1 {
    text-align: center;
    font-size: 3.0em;
    font-weight: bold;
}

.nav-link {
    color: #12263a;
    text-decoration: underline;
}

.nav-link:visited {
    color: #06bcc1;
}

.nav-link:hover {
    font-weight: bold;
    text-decoration: underline;
}

.nav-link:active {
    text-decoration: none;
}